.wrapper{

    background: linear-gradient(rgb(65, 11, 20), #9D031E, rgb(65, 11, 20));
    height: auto;
    width: 930px;
}
#header {

    width: 1000px;
    height: auto;
}
.boxes {

    background-color: white;
    width: 280px;
    height: 600px;
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
}
.pics {
    width: 280px;
}
.topBox {
    width:510px;
    height:300px;
    display: inline-block;
    vertical-align: top;
    text-align: left;

}
#profilePic{

    border: 6px solid #9a9797;
    background-color: #cec2c2;
    width: 350px;
    height: 250px;
    margin: 10px;
    
}
#aboutMe{

    background-color: white;
    height: 260px;
    margin: 10px;
}
.smallPics{

    width: 50px;
}
.bottomBox {

    background-color: white;
    vertical-align: bottom;
    text-align: center;
}
.sameTag {

    height: 20px;
    width: 520px;
    display: inline-block;
    margin-bottom: 20px;
    font-size: 40px;


}
#topTop {

    width: 1050px;
    text-align: center;

}
.boxesTop{
    width: auto;
    height: 40px;
    background-color: #615A5A;
    display: flex;
}
.submitButton {

    background-color: green;
    border: 2px solid black;
    display: flex;
    margin-left: 90px;
    margin-top: 30px

}
.writting {

    font-size: 16px;
}
.textTop{

    color: white;
}
#myName {
    
    font-size: 30px;
    text-align: left;
    
}
#whatIdo {
    
    font-size: 20px;
    
}
.bottomHeads {

    height: 80px;

}
#laModeText{

    margin-bottom: 60px;

}
#famConText {

    margin-bottom: 50px;

}
.twitLogo{

    width: 20px;

}
.logoTxt {

    display: inline;
    font-size: 12px;    

}